<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  
  <add name="db_EcomConnectionString" connectionString="Data Source=.\sqlexpress;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\db_Ecom.mdf&quot;;Initial Catalog=db_Ecom;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
	</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/index.aspx" timeout="2880"/>
		</authentication>
		<customErrors mode="Off"></customErrors>
	</system.web>
</configuration>
