<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DbEcommerceConnectionString" connectionString="Data Source=.\sqlExpress;Initial Catalog=DbEcommerce;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <authorization>
      <allow roles="Admin"/>

      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>
